<div>
    <h1 class="text-xl font-bold" appHighlight>About</h1>
    <p class="text-xs">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas reprehenderit accusamus expedita natus fugit
        placeat quos consequuntur necessitatibus sint nobis!
    </p>
    <p class="text-xs">
        Numero de clientes:
        <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0">
        </app-counter>
    </p>
    <div>
        <app-wave-audio audioUrl="assets/audio.mp3" />
    </div>
</div>